/* 
  background
*/

div {
  background-image: url("https://www.fronteditor.dev/assets/favicon.4b33a4df.svg");
  background-repeat: no-repeat;
  /* background-position-x: center; */
  /* background-position-y: center; */
  background-position: center;
  background-size: cover;

  /* shorthand */
  background: #f90 url("https://www.fronteditor.dev/assets/favicon.4b33a4df.svg") no-repeat top center/50px;
}